.about-me{
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  margin:30px 700px 30px; 
  padding-top: 400px;
  padding-bottom: 20px;
}

.aboutme-para{
  font-size:  22px;
}

.aboutme-head{
  font-family: 'Oxygen', sans-serif;
  text-decoration: underline;
  font-weight: 700;
  text-shadow: 2px 2px #83B4DC;
}

/* @media only screen and (max-width:1237px) {
  .about-me{
    margin:30px 30px;
  }
 } */

 @media only screen and (max-width: 2000px) {
  .about-me{
    margin:30px 30px;
    width:100%;
    display: block;
  }
 }

 @media only screen and (max-width: 600px) {
  .aboutme-para{
    font-size:  17px;
    text-align: center;
  } 
 }

 @media (max-width: 768px){
  .about-me{
    font-size:  17px;
    text-align: center;
    margin-left: 120px;
  } }
/*  
    .about-me{
      margin-left: 30rem;
    }
  } @media screen and (max-width:1031px){
  */