.mdl-layout__header{
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position:fixed;
  top:0;
  z-index:100;
}
.active, .mdl-navigation__link:hover {
  background-color:rgba(0, 0, 0, 0.5);
  
}
.mdl-layout__title,.mdl-layout-title {
  font-size:30px;
  font-family: 'Oxygen', sans-serif; 
}
.mdl-layout__inner-container {
  width: 100%;
}
@media (max-width: 768px){
  .mdl-layout__inner-container {
    width: 60rem;
  }} 
  @media screen and (min-width:600px){
    .mdl-layout__inner-container {
      /* color: red; */
      width: 70rem;
      margin-top: -5px;
      
  }}
 