body {
  margin: 0;
  padding: 0;
  background: #F3F2F2;
  color: #325C74;
  font-family: 'Oxygen', sans-serif;
}



@media only screen and(max-width:2000px){
  body {
  text-align: center;
  width: 100%;
  display: block;
  margin: 0;
  font-size: auto;
  }
}